@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #0a0c0b;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #0a0c0b;
}
h4 {
  font-size: 20px;
  color: #0a0c0b;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #3f7765;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fffefa;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #feca45;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fffefa;
  outline: none;
  transition: 0.3s;
}
body {
  width: 100%;
}
/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
label.logo {
  color: #be8b59;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  justify-content: flex-start;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0a0c0b;
  transition: 0.4 ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #3f7765;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #3f7765;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#navbar li a .basket {
  font-size: 24px;
}
#mobile {
  display: none;
  align-items: center;
}
#mobile i {
  color: #0a0c0b;
  font-size: 24px;
  padding: 20px;
}
#close {
  display: none;
}
.basket {
  color: #0a0c0b;
}
/* Home Page */
#offer {
  background-image: url("../img/offer2.jpeg");
  height: 100vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#offer h4 {
  padding-bottom: 15px;
}
#offer h1 {
  color: #3f7765;
}
#offer button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #3f7765;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
#product1 {
  text-align: center;
}
#product1 .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .product {
  width: 24%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
}
#product1 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .product img {
  width: 100%;
  border-radius: 20px;
}
#product1 .product .description {
  text-align: start;
  padding: 10px 0;
}
#product1 .product .description span {
  color: #606063;
  font-size: 12px;
}
#product1 .product .description h5 {
  padding-top: 7px;
  color: #0a0c0b;
  font-size: 14px;
}
#product1 .product .description i {
  font-size: 14px;
  color: rgb(234, 181, 25);
}
#product1 .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #3f7765;
}
#product1 .product .basket {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #3f7765;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fffefa;
  font-size: 16px;
}
#banner h2 {
  color: #fffefa;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #901729;
}
#banner button:hover {
  background: #3f7765;
  color: #fffefa;
}
#product2 {
  text-align: center;
}
#product2 .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product2 .product {
  width: 24%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
}
#product2 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product2 .product img {
  width: 100%;
  border-radius: 20px;
}
#product2 .product .description {
  text-align: start;
  padding: 10px 0;
}
#product2 .product .description span {
  color: #606063;
  font-size: 12px;
}
#product2 .product .description h5 {
  padding-top: 7px;
  color: #0a0c0b;
  font-size: 14px;
}
#product2 .product .description i {
  font-size: 14px;
  color: rgb(234, 181, 25);
}
#product2 .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #3f7765;
}
#product2 .product .basket {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #3f7765;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("../img/banner/b17.jpeg");
  min-width: 600px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url("../img/banner/b10.jpeg");
}
#sm-banner h4 {
  color: #fffefa;
  font-size: 25px;
  font-weight: 350;
  background: linear-gradient(to bottom, transparent 70%, #e35a60);
}
#sm-banner h2 {
  color: #fffefa;
  font-size: 28px;
  font-weight: 900;
  background: linear-gradient(to bottom, transparent 20%, #e35a60);
}
#sm-banner span {
  color: #fffefa;
  font-size: 14spx;
  font-weight: 600;
  padding-bottom: 18px;
  background: linear-gradient(to bottom, transparent 10%, #e35a60);
  margin-bottom: 14px;
}
#sm-banner .banner-box:hover button {
  background: #3f7765;
  border: 1px solid #3f7765;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("../img/banner/b7.jpeg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
}
#banner3 .banner-box2 {
  background-image: url("../img/banner/b4.jpeg");
}
#banner3 .banner-box3 {
  background-image: url("../img/banner/b18.jpeg");
}
#banner3 h2 {
  color: #fffefa;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #901729;
  font-weight: 800;
  font-size: 15px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fffefa;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #feca45;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #3f7765;
  color: #fffefa;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #0a0c0b;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #455b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #3f7765;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover {
  color: #3f7765;
}
footer a:hover {
  color: #3f7765;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page */

/* Single Product */

/* Blog Page */

/* About Page */

/* Basket Page */

/* Start Media Query */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #0a0c0b;
    font-size: 24px;
    padding-left: 25px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #0a0c0b;
    font-size: 24px;
  }
  #lg-basket {
    display: none;
  }
  #offer {
    height: 70vh;
    padding: 0.8px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .product-container {
    justify-content: center;
  }
  #product1 .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #product2 .product-container {
    justify-content: center;
  }
  #product2 .product {
    margin: 15px;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
}
@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #offer {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .product {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #product2 .product {
    width: 100%;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
    margin: 10px;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
}
